@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Artikal";
    Artikal pageModel = Model.PageModel;
    if (pageModel == null)
    {
        pageModel = new Artikal();
    }

    <h2>Dodaj novi artikal</h2>
    Html.RenderPartial("_PostForm", pageModel);
}


