@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer
@{
    Artikal pageModel = Model.PageModel;
}

<body>
    @if (pageModel != null)
    {
        //using (Html.BeginForm("Add", "Korpa"))
        //{
            <section id="blog">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="block">
                                <ul>
                                    <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                        <div class="blog-img">
                                            <img src="/images/@pageModel.Slika.Link" alt=":(">
                                        </div>
                                        <div class="content-right">
                                            <h3>@pageModel.Naziv_artikla</h3>
                                            <p></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .col-md-12 close -->
                    </div><!-- .row close -->
                </div><!-- .containe close -->
            </section>
            <!-- #blog close -->
            <section id="price">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="block">
                                <div class="pricing-list">
                                    <ul>
                                        <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                            <div class="item">
                                                <div class="item-title">
                                                    <h2>Cena artikla</h2>
                                                    <div class="border-bottom"></div>
                                                    <span>@pageModel.Cena_artikla</span><br />
                                                </div>
                                            </div>
                                        </li>
                                        <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                                            <div class="item">
                                                <div class="item-title">
                                                    <h2>Kolicina artikla:</h2>
                                                    <div class="border-bottom"></div>
                                                    <span>
                                                        <span>
                                                            <div style="width: 27%; float: right;"><input type="number" style="width: 100%; right: 0px;"></div>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .col-md-12 close -->
                    </div><!-- .row close -->
                </div><!-- .containe close -->
            </section>
    <!-- #price close -->
        //}
    }
    else
    {
        <h2>Trenutno nema registrovanih poslovnica u odabranoj kategoriji</h2>
    }
}