@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    IEnumerable<Artikal> pageModel = Model.PageModel;
}

<!DOCTYPE html>

<body>
    @if (pageModel.Count() > 0)
    {
        <h2>Pretraga artikala u poslovnici</h2>

        <section id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h1 class="heading">
                                <span>Restorani</span><span></span>
                            </h1>
                            <ul>
                                @foreach (Artikal artikal in pageModel)
                                {
                                    <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="500ms">
                                        <div class="content-left">
                                            <h3>@artikal.Naziv_artikla</h3>
                                            <p> Cena: @artikal.Cena_artikla</p>
                                        </div>
                                        <a href=@Url.Action("Index", "Artikli", new {artikalID = artikal.ArtikalID})>
                                            <div class="blog-img-2">
                                                <img src="/images/@artikal.Slika.Link" alt=":(">
                                            </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- .row close -->
            </div><!-- .containe close -->
        </section>
    <!-- #blog close -->
    }
    else
    {
        <h2>Trenutno nema registrovanih artikala u odabranoj poslovnici</h2>
    }
</body>





