@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Kupac";
    Kupac pageModel = Model.PageModel;
    if (pageModel == null)
    {
        pageModel = new Kupac();
    }

    <h2>Dodaj novi nalog za kupca</h2>
    Html.RenderPartial("_PostForm", pageModel);
}
