/* var text-decoration */
@font-face {
    font-family: myfont;
    src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}

/*--
    Common Css
--*/

body {
    font-family: myfont;
    font-size: 14px;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: myfont;
    margin: 0;
}

h1 { font-size: 36px; }

h2 {
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

p {
    font-family: myfont;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:active,
a:focus,
a:active {
    font-size: 15px;
    text-decoration: none !important;
}

/*============== Mixins style start ================*/

.overlay-effect {
    background: url("../images/overlay-pattern.png") #000000;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    -ms-opacity: 0.3;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

/*--
    custom heading Start
--*/

.heading {
    color: #2E2E2E;
    font-weight: 500;
    padding: 40px 0;
    position: relative;
    text-align: center;
}

.heading span {
    color: #ff530a;
    font-size: 45px;
    font-weight: 600;
}

.heading:before {
    background: #C8C1B3;
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -70px;
    position: absolute;
    width: 140px;
}

/*--
    custom heading Start
--*/

.title {
    color: #2E2E2E;
    padding: 30px 0;
    text-transform: uppercase;
}

.title span { color: #FF5333; }

.before-border {
    background: #C8C1B3;
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -70px;
    position: absolute;
    width: 140px;
}

/*--
    transition custom style
--*/

.transition {
    -o-transition: .3s all;
    -webkit-transition: .3s all;
    -ms-transition: .3s all;
    transition: .3s all;
}

/*============== Mixins style close ================*/

/*--
    header-img start Start
--*/

#hero-area { position: relative; }

#hero-area:before {
    background: url("../images/overlay-pattern.png") #000000;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    -ms-opacity: 0.3;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

/*--
    nav Start
--*/

nav {
    width: 100%;
    z-index: 99999;
}

nav .block {
    background: #fff;
    background: rgba(255, 255, 255, 0.89);
    margin-top: -85px;
    padding: 25px 40px;
}

nav .block .navbar-default {
    background: none;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

nav .block .navbar-default .navbar-brand { padding-left: 0; }

nav .block .navbar-default .navbar-nav { padding-top: 10px; }

nav .block .navbar-default .navbar-nav > li > a {
    color: #2E2E2E;
    font-size: 15px;
    margin: 0 15px;
    padding: 10px 0;
    text-transform: uppercase;
}

nav .block .navbar-default .navbar-nav > li > a:before {
    -o-transition: .3s all;
    -webkit-transition: .3s all;
    background-color: transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: .3s all;
    width: 0;
}

nav .block .navbar-default .navbar-nav > li > a:hover:before {
    background-color: #e94c3d;
    content: "";
    width: 100%;
}

nav .block .navbar-default .navbar-nav > li.current > a {
    color: #2E2E2E;
    margin: 0 15px;
    padding: 10px 0;
}

nav .block .navbar-default .navbar-nav > li.current > a:before {
    -o-transition: .3s all;
    -webkit-transition: .3s all;
    background-color: transparent;
    background-color: #e94c3d;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: .3s all;
    width: 100%;
}

nav .block .navbar-default .navbar-nav > .active > a,
nav .block .navbar-default .navbar-nav > .active > a:focus,
nav .block .navbar-default .navbar-nav > .active > a:hover { background: none; }

nav .block .navbar-default .navbar-nav > .active > a:before,
nav .block .navbar-default .navbar-nav > .active > a:focus:before,
nav .block .navbar-default .navbar-nav > .active > a:hover:before {
    background: #FF5333;
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    width: 100%;
}

/*--
    slider Start
--*/

#slider { padding: 50px 0; }

#slider .block { padding: 0 40px; }

#slider .block .title { padding: 0; }

#slider .block .owl-carousel {
    padding-top: 30px;
    position: relative;
    text-align: center;
}

#slider .block .owl-carousel img {
    border-radius: 2px;
    padding-bottom: 50px;
    padding-right: 30px;
}

#slider .block .owl-carousel .owl-pagination .active { background: #FF5333; }

#slider .block .owl-carousel .owl-pagination div {
    -ms-border-radius: 100%;
    background: #DADADA;
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

#slider .block .owl-carousel .owl-buttons {
    color: #AA9D84;
    font-size: 40px;
    position: absolute;
    right: 0;
    top: -40px;
}

/*--
    about-us Start
--*/

#about-us {
    background: #F6F6F6;
    padding: 100px 0;
}

#about-us .block { text-align: center; }

#about-us .block p {
    color: #959595;
    font-size: 16px;
    line-height: 26px;
    padding: 40px 0;
}

/*--
    blog Start
--*/

#blog {
    background: url("../images/blog/blog-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 75px;
    position: relative;
}

#blog:before {
    background: url("../images/overlay-pattern.png") #000000;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

#blog .block .heading { color: #fff; }

#blog .block ul { padding-top: 40px; }

#blog .block ul li {
    -ms-transform: initial;
    -webkit-transform: initial;
    background: #fff;
    color: #959595;
    float: left;
    overflow: hidden;
    text-align: center;
    transform: initial;
    width: 50%;
}

#blog .block ul li:hover img { transform: scale(1.2) rotate(10deg); }

#blog .block ul li h3 {
    color: #323232;
    line-height: 26px;
    padding: 0 40px 20px;
    position: relative;
}

#blog .block ul li h3:before {
    background: #CBC4B5;
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -45px;
    position: absolute;
    width: 90px;
}

#blog .block ul li p { padding-top: 25px; }

#blog .block ul li .blog-img {
    background: red;
    float: left;
    height: 100%;
    overflow: hidden;
    width: 50%;
}

#blog .block ul li .blog-img img {
    -o-transition: all 0.8s ease-out;
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

#blog .block ul li .blog-img-2 {
    float: right;
    overflow: hidden;
    width: 50%;
}

#blog .block ul li .blog-img-2 img {
    -o-transition: all 0.8s ease-out;
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    width: 100%;
}

#blog .block ul li .content-right {
    float: right;
    font-size: 16px;
    height: 100%;
    line-height: 26px;
    padding: 40px 35px 23px;
    position: relative;
    width: 50%;
}

#blog .block ul li .content-right:after {
    background: #fff;
    bottom: 0;
    content: "";
    height: 30px;
    left: 0;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(45deg);
    width: 30px;
}

#blog .block ul li .content-left {
    float: left;
    height: 100%;
    padding: 40px 35px 23px;
    position: relative;
    width: 50%;
    z-index: 999;
}

#blog .block ul li .content-left:after {
    background: #fff;
    content: "";
    height: 30px;
    margin-top: 0;
    position: absolute;
    right: -15px;
    top: 50%;
    transform: rotate(45deg);
    width: 30px;
}

#blog .block .btn-more-info {
    -o-transition: .3s all;
    -webkit-transition: .3s all;
    background: #ff530a;
    border: 1px solid transparent;
    border-radius: 0;
    color: #fff;
    float: right;
    font-size: 16px;
    font-weight: 500;
    padding: 28px 102.5px;
    text-transform: uppercase;
    transition: .3s all;
}

#blog .block .btn-more-info:hover {
    background: transparent;
    border: 1px solid #ff530a;
    color: #ff530a;
}

/*--
    price Start
--*/

#price { padding: 70px 0; }

#price .block > p {
    color: #9D9D9D;
    font-size: 16px;
    line-height: 26px;
    padding: 40px 133px 0;
    text-align: center;
}

#price .block .pricing-list { padding-top: 85px; }

#price .block .pricing-list ul {
    margin: 0;
    padding: 0 0 30px;
}

#price .block .pricing-list ul li { padding: 21px 0; }

#price .block .pricing-list ul li .item .item-title { position: relative; }

#price .block .pricing-list ul li .item .item-title h2 {
    background: #fff;
    display: inline-block;
    position: relative;
    z-index: 99;
}

#price .block .pricing-list ul li .item .item-title .border-bottom {
    border: 1px dotted #C9C9C9;
    height: 1px;
    margin-top: 20px;
    position: absolute;
    top: 0;
    width: 70%;
}

#price .block .pricing-list ul li .item .item-title span {
    color: #938463;
    float: right;
}

#price .block .pricing-list ul li .item p {
    color: #949494;
    padding: 12px 0 0;
}

#price .block .pricing-list .btn {
    -o-transition: .3s all;
    -webkit-transition: .3s all;
    background: none;
    border: 1px solid #FF4F02;
    border-radius: 0;
    color: #FF4F02;
    font-size: 15px;
    font-weight: 600;
    padding: 28px 105px;
    text-transform: uppercase;
    transition: .3s all;
}

#price .block .pricing-list .btn:hover {
    background: #ff530a;
    color: #fff;
}

/*--
    subscribe Start
--*/

#subscribe {
    background: url("../images/subscribe-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    position: relative;
    text-align: center;
}

#subscribe:before {
    background: url("../images/overlay-pattern.png") #000000;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

#subscribe .block h1.heading { color: #fff; }

#subscribe .block p {
    color: #fff;
    font-size: 18px;
    padding: 25px 0;
}

#subscribe .block form .form-control {
    background: #fff;
    border: none;
    border-radius: 0;
    font-size: 15px;
    height: 65px;
    opacity: 0.9;
    width: 450px;
}

#subscribe .block form .input-group-addon {
    background: none;
    border: none;
    padding: 0;
}

#subscribe .block form .input-group-addon button {
    -o-transition: .3s all;
    -webkit-transition: .3s all;
    background: #7EC3BB;
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    height: 65px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: .3s all;
    width: 212px;
}

#subscribe .block form .input-group-addon button:hover { background: #69a8a1; }

/*--
    contact-us Start
--*/

#contact-us { padding: 70px 0; }

#contact-us .block .title { padding: 20px 0; }

#contact-us .block form { padding-bottom: 20px; }

#contact-us .block form input {
    -o-transition: .3s all;
    -webkit-transition: .3s all;
    border-radius: 0;
    box-shadow: none;
    height: 48px;
    transition: .3s all;
}

#contact-us .block form input:focus { border: 1px solid #7EC3BB; }

#contact-us .block form textarea {
    -o-transition: .3s all;
    -webkit-transition: .3s all;
    border-radius: 0;
    box-shadow: none;
    height: 140px;
    transition: .3s all;
}

#contact-us .block form textarea:focus { border: 1px solid #7EC3BB; }

#contact-us .block a {
    -o-transition: .3s all;
    -webkit-transition: .3s all;
    background: #FF4F02;
    border: 0;
    border-radius: 0;
    color: #fff;
    float: right;
    font-weight: 600;
    height: 50px;
    padding-top: 15px;
    text-transform: uppercase;
    transition: .3s all;
    width: 512px;
}

/*--
    footer Start
--*/

#footer { padding: 70px 0; }

#footer .block h3 {
    color: #2E2E2E;
    padding-bottom: 25px;
}

#footer .block h3 span { color: #FF4F02; }

#footer .block .blog ul,
#footer .block .info ul,
#footer .block .gallary ul { padding-top: 20px; }

#footer .block .blog ul li,
#footer .block .info ul li,
#footer .block .gallary ul li {
    display: inline-block;
    margin-bottom: 25px;
    margin-right: 20px;
}

#footer .block .blog ul li h4,
#footer .block .info ul li h4,
#footer .block .gallary ul li h4 {
    color: #FF4F02;
    display: block;
    padding-bottom: 10px;
}

#footer .block .blog ul li h4 i,
#footer .block .info ul li h4 i,
#footer .block .gallary ul li h4 i {
    color: #555;
    font-size: 20px;
    margin-right: 30px;
}

#footer .block .blog ul li h4 a,
#footer .block .info ul li h4 a,
#footer .block .gallary ul li h4 a {
    color: #FF4F02;
    font-size: 20px;
    font-weight: 600;
}

#footer .block .blog ul li p,
#footer .block .info ul li p,
#footer .block .gallary ul li p {
    color: #474747;
    font-size: 14px;
}

#footer .block .social-media-link h3 {
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 30px;
}

#footer .block .social-media-link h3 span { color: #FF4F02; }

#footer .block .social-media-link ul li {
    display: inline-block;
    margin-right: 20px;
}

#footer .block .social-media-link ul li a {
    -o-transition: .3s all;
    -webkit-transition: .3s all;
    background: #B0B0B0;
    border-radius: 100%;
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    transition: .3s all;
    width: 40px;
}

#footer .block .social-media-link ul li a:hover {
    background: #FF4F02;
    color: #fff;
}

/*--
    footer-bottom Start
--*/

#footer-bottom {
    background: #E9E9E9;
    padding: 20px 0;
}

#footer-bottom p {
    color: #454545;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top: 12px;
    text-align: center;
}

#footer-bottom p a { color: #FF4F02; }