@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Create";
    Poslovnica pageModel = Model.PageModel;
    if (pageModel == null)
    {
        pageModel = new Poslovnica();
    }
    var db = new Potrcko();

    <h2>Create</h2>
    Html.RenderPartial("_EditPostForm", pageModel);
}
