@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Edit";
    Poslovnica pageModel = Model.PageModel;

    <h2>Edit</h2>
    Html.RenderPartial("_EditPostForm", pageModel);
}