@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Poslovnica";
    Poslovnica pageModel = Model.PageModel;
    if (pageModel == null)
    {
        pageModel = new Poslovnica();
    }

    <h2>Izmeni podatke o poslovnici</h2>
    Html.RenderPartial("_PostForm", pageModel);
}