@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer
@{
    IEnumerable<Poslovnica> pageModel = Model.PageModel;

    ViewBag.Title = "Pretraga poslovnica po kategoriji";
}
<body>
    @if (pageModel.Count() > 0)
    {
        <h2>Pretraga poslovnica po kategoriji: @pageModel.First().Partner.Kategorija</h2>

        <section id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h1 class="heading">
                                <span>Restorani</span><span></span>
                            </h1>
                            <ul>
                                @foreach (Poslovnica poslovnica in pageModel)
                                {
                                    <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">

                                        <a href=@Url.Action("ListaArtikala", "Artikli", new {poslovnicaID = poslovnica.PoslovnicaID})>
                                            <div class="blog-img">
                                                <img src="/images/@poslovnica.Partner.Slika.Link" alt=":(">
                                            </div>
                                            <div class="content-right">
                                                <h3>@poslovnica.Partner.Naziv</h3>
                                                <p> Adresa: @poslovnica.Adresa</p>
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                            <a class="btn btn-default btn-more-info wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="#" role="button">More Info</a>
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- .row close -->
            </div><!-- .containe close -->
        </section>
    <!-- #blog close -->
    }
    else
    {
        <h2>Trenutno nema registrovanih poslovnica u odabranoj kategoriji</h2>
    }
</body>

