@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Artikli u poslovnici";
    Artikal_U_Poslovnici pageModel = Model.PageModel;
    if (pageModel == null)
    {
        pageModel = new Artikal_U_Poslovnici();
    }

    <h2>Dodaj novi artikal u poslovnicu</h2>
    Html.RenderPartial("_PostForm", pageModel);
}
