@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Racun";
    Racun pageModel = Model.PageModel;
    if (pageModel == null)
    {
        pageModel = new Racun();
    }

    <h2>Izmeni racun</h2>
    Html.RenderPartial("_PostForm", pageModel);
}