@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Racuni banke";
    Nasa_banka pageModel = Model.PageModel;
    if (pageModel == null)
    {
        pageModel = new Nasa_banka();
    }

    <h2>Izmeni podatke korisnickog racuna</h2>
    Html.RenderPartial("_PostForm", pageModel);
}