@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Reklama";
    Reklama pageModel = Model.PageModel;
    if (pageModel == null)
    {
        pageModel = new Reklama();
    }

    <h2>Dodaj novu reklamu</h2>
    Html.RenderPartial("_PostForm", pageModel);
}