@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Niz artikala na racunu";
    Niz_Artikala_Racun pageModel = Model.PageModel;
    if (pageModel == null)
    {
        pageModel = new Niz_Artikala_Racun();
    }

    <h2>Izmeni podatke o artiklu na racunu</h2>
    Html.RenderPartial("_PostForm", pageModel);
}