@model Mihajlo_Potrcko.Components.ViewDataContainer
@{
    string pageModel = Model.PageModel;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="text" name="Username" placeholder="Korisnicko ime"/>
    <input type="password" name="Password" placeholder="Lozinka"/>
    <input type="submit" name="Potvrdi" value="Potvrdi"/>
}

<p>@pageModel</p>

<br/>

<a href="Signup.cshtml">Signup</a>
</body>
</html>
