@model Mihajlo_Potrcko.Components.ViewDataContainer
@{

    string pageModel = Model.PageModel;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signup</title>
</head>
<body>
@using (Html.BeginForm("ParseSignup","Account"))
{
    @Html.AntiForgeryToken()
    <input type="text" name="Username" placeholder="Korisnicko ime"/>
    <input type="password" name="Password" placeholder="Lozinka"/>
    <input type="text" name="JMBG" placeholder="JMBG" />
    <input type="text" name="Ime" placeholder="Ime" />
    <input type="text" name="Prezime" placeholder="Prezime" />
    <input type="text" name="Telefon" placeholder="Telefon" />
    <input type="email" name="Email" placeholder="E-mail" />

    <input type="submit" name="Potvrdi" value="Potvrdi"/>
}

<p?>@pageModel</p?>
</body>
</html>
