@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Nalog";
    Nalog pageModel = Model.PageModel;
    if (pageModel == null)
    {
        pageModel = new Nalog();
    }

    <h2>Izmeni podatke naloga</h2>
    Html.RenderPartial("_PostForm", pageModel);
}