
<body>

    <div class="header">
        <div class="cat"> Kategorija</div>
        <div class="cat"> Kategorija</div>
        <div class="cat"> Kategorija</div>
    </div>
    <div class="container">
        <div class="item"> Item</div>
        <div class="item"> Item</div>
        <div class="item"> Item</div>
        <div class="item"> Item</div>
        <div class="item"> Item</div>
        <div class="item"> Item</div>
    </div>

</body>
