@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Index";


    // S'obzirom na dinamicki tip podatka iz sigurnosnih razloga se 
    // ovde definise koji je tip poslat
    IEnumerable<Partner> pageModel = Model.PageModel;
}

<body>
    <!-- Slider start
    ============================== -->
    @{
        Html.RenderPartial("../Partial/_Slider",pageModel);
    }
    <!-- slider close -->

    <!-- blog start ============================ -->
    @{
        Html.RenderPartial("../Partial/_Blog", pageModel);
    }   
    <!-- #blog close -->
</body>