@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Edit";
    Zaposleni pageModel = Model.PageModel;
    if (pageModel == null)
    {
        pageModel = new Zaposleni();
    }

    <h2>Izmeni zaposlenog</h2>
    Html.RenderPartial("_PostForm", pageModel);
}