@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Partner";
    Partner pageModel = Model.PageModel;
    if (pageModel == null)
    {
        pageModel = new Partner();
    }

    <h2>Izmeni podatke o partneru</h2>
    Html.RenderPartial("_PostForm", pageModel);
}