@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Racun banke";
    Racuni_banke pageModel = Model.PageModel;
    if (pageModel == null)
    {
        pageModel = new Racuni_banke();
    }

    <h2>Izmeni racun banke korisnika</h2>
    Html.RenderPartial("_PostForm", pageModel);
}